# Configurações do Servidor
PORT=3000
CORS_ORIGIN=*

# Supabase (Banco de Dados e Auth) - Nunca colocar senhas/chaves verdadeiras aqui
SUPABASE_URL=https://awbfibpmylkfkfqarclk.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3YmZpYnBteWxrZmtmcWFyY2xrIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDI3MDA0MCwiZXhwIjoyMDc5ODQ2MDQwfQ.FDYl0qRUmhwqtS2tdjQaCWc0MMcgGW4KuenCv6RgYIw
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF3YmZpYnBteWxrZmtmcWFyY2xrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQyNzAwNDAsImV4cCI6MjA3OTg0NjA0MH0.jXBE-HnVJNAg2pPjlPu8THjnNfVnJADdlNEOvlyiUFU
